<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5 ECharts</title>
    <link rel="stylesheet" href="static/pm25-echarts.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.1/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

    <h1>PM2.5資料</h1>
    <div id="main"></div>

    <script src="static/pm25-echarts.js"></script>
</body>

</html>