<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <div id="banner">
            <h1>PM2.5 全台資訊</h1>
        </div>
        <h3>{{time}}</h3>
        <table border='1'>
            <thead>

                <tr>
                    {% for th in columns%}
                    <th>{{th}}</th>
                    {% endfor%}
                </tr>

            </thead>
            <tbody>
                {% for row in datas%}
                <tr>
                    {% for data in row%}
                    <td>{{data}}</td>
                    {% endfor%}
                </tr>
                {% endfor%}
            </tbody>

        </table>
    </div>
</body>

</html>