<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>股巿資訊</h1>
    <h3>目前時間:{{time}}</h3>
    <!--{{stock}}-->
    <!--for stock in stocks:
        print(stock['分類'],stock['指數'])-->
    {%for stock in stocks%}
    <ul>
        <li>{{stock.分類}}</li>
        <li>{{stock.指數}}</li>

    </ul>
    {%endfor%}
</body>

</html>